<template>
            <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
                <div class="relative sm:max-w-sm w-full">
                    <div class="relative w-full rounded-3xl  px-6 py-4 bg-purple-200 shadow-md">
                        <label class="block mt-3 text-sm text-gray-700 text-center font-semibold">
                          <span class="text-red-500">HEY!</span>   Chat Room 
                        </label>
                        <label  class="block mt-3 text-sm text-gray-700 text-left font-semibold mt-10">
                          <span class="text-red-500">Registro de Usuario</span>  
                        </label>
                        <form id="login" @submit.prevent="submit" class="mt-1">
                                           
                            <div>
                                <input v-model="form.userName.$value" @blur="form.userName.$onBlur()"  :validating="form.userName.$validating"
                                type="text" placeholder="Nombre de Usuario" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                            	
                                <div  v-if="form.userName.$errors.length">
                                <div v-for="(error, index) in form.userName.$errors" :key="index">
                                <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
			                           {{ error }}
		                        </span>
                                </div>
                                </div>
                            </div>
                
                           
                
                            <div class="mt-7">
                                <button type="submit"  :disabled="submitting" class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                    Registrar Usuario
                                </button>
                            </div>
                
  
                             <div class="mt-7">
                                <div class="flex justify-center items-center">
                                    <label class="mr-2" >¿Ya tienes una cuenta?</label>
                                    <router-link to="/login"  class=" text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                       Inicia Sessión
                                    </router-link>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
         
</template>
<script>
import {useValidation} from "vue3-form-validation";
import auth from '../../modules/auth'
import router from "../../router";
export default {
     setup() {

    const {form, errors, submitting, validateFields, resetFields} = useValidation({
      userName: {
        $value: "",
        $rules: [
            userName => !userName && 'El nombre de usuario es necesario',
            userName => userName.length > 5 || 'El nombre de usuario 5 caracteres'
           
        ]
      }
    });
    return {
      form,
      validateFields,
      errors,
      submitting,
      resetFields
    };
  },
  methods: {
   async submit() {
         try {
         const formData = await this.validateFields();
         console.log(formData);
         if(formData){
            const model = {
              userName: formData.userName,
            }
            auth.dispatch('registerUser', model).then(
                (newUser) => {
                  if(newUser){
                  console.log(newUser)
                  this.$socket.client.emit("new-user", 
                 newUser
               );
                  router.push("/chat");
                  }
                  
                },
                error => {
                   resetFields();
                  form.userName.$errors=[];
                  form.userName.$errors.push('no puedes usar este nombre de usuario')
                }
            );
        }
          } catch (e)  {
            // validation error
            console.log('error ', e);   
          }
    }
  },
}
</script>
