<template>
       <router-view></router-view>
</template>

<script >
import auth from './modules/auth'
import {computed} from "vue";

export default {
  name: 'App',
  components: {},
  setup() {
    return {
      isAuthenticated: computed(() => auth.getters.isAuthenticated),
    }
  },
  created() {
    const isAuthenticated = computed(() => auth.getters.isAuthenticated);
    if (isAuthenticated.value) {
      this.$router.push('/')
    } else {
      this.$router.push('/login')
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
