<template>
    
<div class="container mx-auto shadow-lg rounded-lg">
    <!-- headaer -->
    <div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">
      <div class="font-semibold text-2xl">Room Chat  {{userData.userName}}</div>
   
    </div>
    <!-- end header -->
    <!-- Chatting -->
    <div class="flex flex-row justify-between bg-white">
      <!-- chat list -->
      <div class="flex flex-col w-2/5 border-r-2 overflow-y-auto h-96">
        
        <div class="border-b-2 py-4 px-2">
         <span> lista de usuarios registrados</span>
        </div>
       
        <!-- user list -->
        <div v-for="user in users" v-bind:key="user">

       
        <div
          class="flex flex-row py-4 px-2 justify-center  items-center border-b-2" v-on:click="initiateChat(user)"
           v-bind:class="{'bg-blue-600': this.userSelect._id === user._id  }"
           v-if="user._id !== userData._id"
        >
          <div class="w-1/4">
            <img
              :src="'https://ui-avatars.com/api/?name='+user.userName+'&background=DDD6FE&color=fff&rounded=true'"
              class="object-cover h-12 w-12 rounded-full"
              alt="{{user.userName}}"
            />
            
          </div>
          <div class="w-full">
            <div class="text-lg font-semibold"> {{ user.userName }}</div>
  
          </div>
        </div>
       </div>
        <!-- end user list -->
      </div>
      <!-- end chat list -->
      <!-- message -->
      <div class="w-full px-5 flex flex-col justify-between  ">
        <div class="flex flex-col mt-5  overflow-y-auto h-96">
          <div class="flex  mb-4" v-for="message in currentConversation" v-bind:key="message"
           v-bind:class="{ 'justify-end': message.postedByUser._id === userData._id, 'justify-start':  message.postedByUser._id !== userData._id }">
             <img
            v-if="message.postedByUser._id !== userData._id"
              :src="'https://ui-avatars.com/api/?name='+message.postedByUser.userName+'&background=DDD6FE&color=fff&rounded=true'"
              class="object-cover h-8 w-8 rounded-full"
              alt=""
            />
            <div
              class="py-3 px-4    text-white"
              v-bind:class="{ 
                'bg-blue-400': message.postedByUser._id === userData._id, 'bg-gray-400':  message.postedByUser._id !== userData._id ,
                'mr-2': message.postedByUser._id === userData._id, 'ml-2':  message.postedByUser._id !== userData._id ,
                'rounded-tl-3xl': message.postedByUser._id === userData._id, 'rounded-tr-3xl':  message.postedByUser._id !== userData._id ,
                ' rounded-tr-xl': message.postedByUser._id === userData._id, 'rounded-tl-xl':  message.postedByUser._id !== userData._id ,
                }"
          >
              {{message.message.messageText}}
            </div>
            <img
            v-if="message.postedByUser._id === userData._id"
              :src="'https://ui-avatars.com/api/?name='+message.postedByUser.userName+'&background=DDD6FE&color=fff&rounded=true'"
              class="object-cover h-8 w-8 rounded-full"
              alt=""
            />
          </div>
          
        </div>
        <form class="py-5 flex items-start" id="sendMessage" @submit.prevent="sendMessage">
          <input
          v-model="form.message.$value" @blur="form.message.$onBlur()"  :validating="form.message.$validating"
            class="w-10/12 bg-gray-300 py-5 px-3 rounded-xl"
            type="text"
            placeholder="type your message here..."
          />
           
        <button type="submit"  :disabled="submitting" class="w-1/12 ml-2 flex text-center bg-blue-500  py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                   <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                  </svg>
        </button>
                            
        </form>
        <div  v-if="form.message.$errors.length">
                                <div v-for="(error, index) in form.message.$errors" :key="index">
                                <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
			                           {{ error }}
		                        </span>
                                </div>
                                </div>
      </div>
      
      </div>
    </div>
</template>
<script>
import {computed, ref, watch, reactive} from "vue";
import auth from '../../modules/auth'
import {dbService} from '../../modules/dbService';
import {useValidation} from "vue3-form-validation";
export default ({
        name: "chat",
         data() {
            return {
                users: [],
                currentConversation: [],
                currentChat: [],
                userSelect: String
            }
        },
         sockets: {
    connect() {
      console.log("connect");
    },
    received(data){
      console.log("received", data);
      this.currentConversation.push(data)
    },
     user(data){
      console.log("user", data);
        this.users.push(data)
    }

  },
          setup() {
             const {form, errors, submitting, validateFields, resetFields} = useValidation({
      message: {
        $value: "",
        $rules: [
            message => !message && 'Debes escribir algo',
            message => message.length > 1 || 'Debes escribir algo'
           
        ]
      }
    });
    return {
      userData: computed(() => auth.getters.userData),
      form,
      errors,
      validateFields,
      submitting,
      resetFields
    }
  },
  created() {
    this.getUsers();
  },
   methods: {
     async initiateChat(user){
const initiateChat = await new dbService().initiateChat(this.userData, user);

if(initiateChat.success){
  this.currentChat= initiateChat.chatRoom;
  const conversation = await new dbService().getConversation(initiateChat.chatRoom);
  if(conversation.success){
this.currentConversation = conversation.conversation
this.userSelect = conversation.users.find(user =>  user._id !== this.userData._id)
 console.log('userSelect', this.userSelect, conversation.users )

  }
}
     },
    async sendMessage() {
   
           const formData = await this.validateFields();
        if(formData && this.currentChat){
          const postMessage = await new dbService().postMessage(this.currentChat, formData.message, this.userData);

          if(postMessage.success){
            console.log('emit message',postMessage)
                this.$socket.client.emit("chat-message", 
                 postMessage.post
               );
               this.resetFields()
          }
        }
     
      
    },
    async getUsers() {
         const allUsers = await new dbService().getAllUsers()
         if (allUsers.success) {
                      this.users = allUsers.Users;
                    
                    } else {
                       this.users = []
                    }
      }            
  },
      });

</script>